In [1]:
import pandas as pd
import numpy as np

In [6]:
#Dataframes

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])

In [7]:
df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [9]:
df.head(2)

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7

In [10]:
df.tail(2)

      Col1  Col2  Col3  Col4
Row4    12    13    14    15
Row5    16    17    18    19

In [16]:
dl=pd.DataFrame(np.arange(0,30).reshape(6,5),index=['R1','R2','R3','R4','R5','R6'],columns=['C1','C2','C3','C4','C5'])

In [17]:
dl

    C1  C2  C3  C4  C5
R1   0   1   2   3   4
R2   5   6   7   8   9
R3  10  11  12  13  14
R4  15  16  17  18  19
R5  20  21  22  23  24
R6  25  26  27  28  29

In [18]:
#to change into csv file
df.to_csv('test.csv')

In [22]:
df.loc['Row1':'Row3']

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11

In [28]:
df.iloc[1:3,0:2]

      Col1  Col2
Row2     4     5
Row3     8     9

In [26]:
type(df.loc['Row1'])

pandas.core.series.Series

In [30]:
type(df.loc['Row1':'Row3'])

pandas.core.frame.DataFrame

In [29]:
type(df.iloc[1:3,0:2])

pandas.core.frame.DataFrame

In [33]:
df.loc['Row2','Col1']

4

In [40]:
#converting dataframes into arrays

df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [41]:
df.iloc[:,:].values.shape

(5, 4)

In [46]:
#checking null conditions

df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [47]:
df.value_counts()   #it says the number of times a number occured

Col1  Col2  Col3  Col4
0     1     2     3       1
4     5     6     7       1
8     9     10    11      1
12    13    14    15      1
16    17    18    19      1
Name: count, dtype: int64

In [50]:
df['Col1'].unique()

array([ 0,  4,  8, 12, 16])

In [51]:
df['Col3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Col3, dtype: int32

In [52]:
type( df['Col3'])

pandas.core.series.Series

In [53]:
df['Col1','Col2']   #we need to create a list to see more than one row/cols

KeyError: ('Col1', 'Col2')

In [55]:
df[['Col1','Col2']]  #to access multiple col/row, we need to create a list

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17